
h2{
    margin-top: 50px;
    text-align: center;
    font-size: 45px;


}
body{
    border: 2px;
    background-color: wheat;
    padding: 50px;
    text-align: justify;
    border: 2px solid black;
    
    margin-left: 100px;
    height: 800px;
    width: 1500px;
    
  
    
}
div{
    background-color: wheat;
   
}
p{
    font-size: 25px;
}
#left{
    position: absolute;
    top: 10px;
    left: 110px;
}
#right{
    position: absolute;
    top: 10px;
    right: 295px;
}
