#content{
    overflow-y: scroll;
    width: 600px;
    margin-left: 600px;
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    margin-left: 100px;
    margin-top: 30px;
    width: 400px;
    height: 40px;
    border-radius: 25px;
    font-size: 20px;
    position: fixed;
}
h1{
    margin-left: 20px;
    background-color: tomato;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    padding: auto;
}

p{

    padding-left: 50px;
    
    height: 30px;

    font-size: 25px;
}
p:hover{
    background-color:  rgb(28, 32, 32);
}
